<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/5.13.0/css/all.min.css">
<link ref="stylesheet" th:src="@{/css/style.css}">
</head>
<body>

	<div th:replace="fragments/header::header"></div>

	<div class="container">
		<h1>Address List of Customer</h1>

		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table"></i> User Profile
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-6 col-md-2">
						<img src="http://placehold.it/380x500" alt=""
							class="rounded img-fluid" />
					</div>
					<div class="col-sm-6 col-md-10">
						<div class="row">
							<div class="col-md-4">
								<h4 th:text="${user.name}">Okurr</h4>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-4">
								<label><b>Nomor Induk Mahasiswa (NIM)</b></label>
							</div>
							<div class="col-md-8">
								<p>155150400111112</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label><b>Judul Penelitian</b></label>
							</div>
							<div class="col-md-8">
								<p>Pengembangan Sistem Informasi</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label><b>Dosen Pembimbing</b></label>
							</div>
							<div class="col-md-8">
								<p>Pak</p>
							</div>
						</div>
					</div>
				</div>
				<hr>
				
				<h5>Address List</h5>
				<div class="table-responsive">
					<table class="table table-bordered" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>ID</th>
								<th>Recipient Name</th>
								<th>Address</th>
								<th>City ID</th>
								<th>Postal Code</th>
								<th>Is Default</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="address: ${listOfAddress}">
								<td th:text="${address.id}"></td>
								<td th:text="${address.recipientName}"></td>
								<td th:text="${address.address}"></td>
								<td th:text="${address.cityId}"></td>
								<td th:text="${address.postalCode}"></td>
							</tr>

						</tbody>
					</table>
				</div>
				<a th:href="@{/users/{id}/address/create/(id=${user.id})}" class="btn btn-primary">Add new address</a>

			</div>
			<div class="card-footer"></div>
		</div>
	</div>

	<div th:replace="fragments/footer::footer"></div>
</body>
</html>