<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/5.13.0/css/all.min.css">
<link ref="stylesheet" th:src="@{/css/style.css}">
</head>
<body>
	<div th:replace="fragments/header::header"></div>

	<div class="container">
	<h3>Edit User</h3>
	<form>
	<div class="form-group">
			<label for="name">Name</label> 
			<input type="text" class="form-control" id="name" name="name">
		</div>
		<div class="form-group">
			<label for="email">Email address</label> 
			<input type="email" class="form-control" id="email" name="email">
		</div>
		<div class="form-group">
			<label for="password">Password</label> 
			<input type="text" class="form-control" id="password" name="password">
		</div>
		<div class="form-group">
			<label for="balance">Balance</label> 
			<input type="text" class="form-control" id="balance" name="balance" value="0">
		</div>
		<div class="form-group">
			<label for="phoneNumber">Phone Number</label> 
			<input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
		</div>
		<button type="submit" class="btn btn-primary">Update</button>
	</form>
	</div>

	<div th:replace="fragments/footer::footer"></div>
</body>
</html>