<!DOCTYPE html>
<html>

<head th:include="fragments/admin/header::head"></head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav th:replace="fragments/admin/header::navbar"></nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside th:replace="fragments/admin/header::sidebar"></aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Product Management</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Products</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Product List</h3>
                                <div class="float-right">
                                    <a th:href="@{/product/create/}" class="btn btn-primary btn-sm">
                                        <i class="fas fa-plus-square mr-1"></i>Add New</a>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <table id="dataTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Brand</th>
                                            <th>Category</th>
                                            <th>Color</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="product: ${listOfProduct}">
                                            <td th:text="${product.name}">Phone</td>
                                            <td th:text="${product.price}">10000000</td>
                                            <td th:text="${product.brand.name}">Samsung</td>
                                            <td th:text="${product.category.name}">Smartphone</td>
                                            <td th:text="${product.color}">Black</td>
                                            <td>
                                                <a th:href="@{/product/edit/{id}/(id=${product.id})}"
                                                    class="btn btn-warning">Edit</a>
                                                <a th:href="@{/product/delete/{id}/(id=${product.id})}"
                                                    class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Brand</th>
                                            <th>Category</th>
                                            <th>Color</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <footer th:replace="fragments/admin/header::sidebar"></footer>

    </div>
    <!-- ./wrapper -->


    <div th:include="fragments/admin/footer::script"></div>

    <script>
        $(document).ready(function () {
            $(function () {
                $('#dataTable').DataTable({
                    "responsive": true,
                    "autoWidth": true,
                    "ordering": false,
                })
            })
        });
    </script>

    <div th:include="fragments/admin/footer::adminltescript"></div>

</body>

</html>